<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin panel</title>
    <link rel="stylesheet" href="{{ url('static', filename='dist/css/main.css') }}">
</head>
<body>
    <div id="app"></div>
    <script src="{{ url('static', filename='dist/js/main.js') }}"></script>
</body>
</html>