$font-path: '../fonts' !default;

@mixin font($variant, $type, $weight, $style) {

  $font-full-path: '#{$font-path}/#{$variant}/#{$variant}';

  @font-face {
    font-family: '#{$variant}';
    src: url('#{$font-full-path}-#{$type}.eot');
    src: local('#{$variant} #{$type}'),
    local('#{$variant}-#{$type}'),
    url('#{$font-full-path}-#{$type}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-full-path}-#{$type}.woff2') format('woff2'),
    url('#{$font-full-path}-#{$type}.woff') format('woff'),
    url('#{$font-full-path}-#{$type}.ttf') format('truetype'),
    url('#{$font-full-path}-#{$type}.svg##{$variant}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }

  @font-face {
    font-family: '#{$variant}-#{$type}';
    src: url('#{$font-full-path}-#{$type}.eot');
    src: local('#{$variant} #{$type}'),
    local('#{$variant}-#{$type}'),
    url('#{$font-full-path}-#{$type}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-full-path}-#{$type}.woff2') format('woff2'),
    url('#{$font-full-path}-#{$type}.woff') format('woff'),
    url('#{$font-full-path}-#{$type}.ttf') format('truetype'),
    url('#{$font-full-path}-#{$type}.svg##{$variant}') format('svg');
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/icomoon/fonts/icomoon.eot?xval67');
  src:  url('#{$font-path}/icomoon/fonts/icomoon.eot?xval67#iefix') format('embedded-opentype'),
  url('#{$font-path}/icomoon/fonts/icomoon.ttf?xval67') format('truetype'),
  url('#{$font-path}/icomoon/fonts/icomoon.woff?xval67') format('woff'),
  url('#{$font-path}/icomoon/fonts/icomoon.svg?xval67#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & [class^="path"], [class*=" path-"]{
    position: absolute;
    top: 0;
    left: 0;
  }
}

.icon-datepicker:before {
  content: "\e91d";
}
.icon-minus:before {
  content: "\e91b";
}
.icon-plus:before {
  content: "\e91c";
}
.icon-check:before {
  content: "\e919";
}
.icon-reading:before {
  content: "\e91a";
}
.icon-loader:before {
  content: "\e905";
  color: rgb(255, 0, 152);
}
.icon-arr_down:before {
  content: "\e906";
}
.icon-chat .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-chat .path2:before {
  content: "\e901";
  margin-left: -0.9619140625em;
  color: rgb(255, 255, 255);
}
.icon-chat .path3:before {
  content: "\e902";
  margin-left: -0.9619140625em;
  color: rgb(255, 255, 255);
}
.icon-chat .path4:before {
  content: "\e903";
  margin-left: -0.9619140625em;
  color: rgb(255, 203, 5);
}
.icon-chat .path5:before {
  content: "\e904";
  margin-left: -0.9619140625em;
  color: rgb(255, 255, 255);
}
.icon-people .path1:before {
  content: "\e907";
  color: rgb(76, 30, 135);
}
.icon-people .path2:before {
  content: "\e908";
  margin-left: -1.1015625em;
  color: rgb(76, 30, 135);
}
.icon-people .path3:before {
  content: "\e909";
  margin-left: -1.1015625em;
  color: rgb(255, 0, 152);
}
.icon-people .path4:before {
  content: "\e90a";
  margin-left: -1.1015625em;
  color: rgb(76, 30, 135);
}
.icon-education .path1:before {
  content: "\e90b";
  color: rgb(76, 30, 135);
}
.icon-education .path2:before {
  content: "\e90c";
  margin-left: -1.1669921875em;
  color: rgb(76, 30, 135);
}
.icon-education .path3:before {
  content: "\e90d";
  margin-left: -1.1669921875em;
  color: rgb(76, 30, 135);
}
.icon-education .path4:before {
  content: "\e90e";
  margin-left: -1.1669921875em;
  color: rgb(255, 0, 152);
}
.icon-education .path5:before {
  content: "\e90f";
  margin-left: -1.1669921875em;
  color: rgb(76, 30, 135);
}
.icon-square .path1:before {
  content: "\e910";
  color: rgb(76, 30, 135);
}
.icon-square .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(76, 30, 135);
}
.icon-square .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(76, 30, 135);
}
.icon-square .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 0, 152);
}
.icon-arr_right:before {
  content: "\e914";
  color: #4c1e87;
}
.icon-arr_left:before {
  content: "\e915";
  color: #fff;
}
.icon-insterest .path1:before {
  content: "\e916";
  color: rgb(76, 30, 135);
}
.icon-insterest .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(76, 30, 135);
}
.icon-insterest .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 0, 152);
}
