@mixin parent{
  float: left;
  width: 100%;
  position: relative;
}

@mixin padding{
  padding-left: 30px;
  padding-right: 30px;
  @include respond-to(mobile){
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin hover_active($color){
  &:hover{
    background-color: lighten($color, 10%);
    border-color: lighten($color, 10%);
  }
  &:active{
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
}

@mixin scrollbar($color){
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}