@include font('SvyaznoySans', 'Regular', 400, 'normal');
@include font('SvyaznoySans', 'Light', 100, 'normal');
@include font('SvyaznoySans', 'Medium', 600, 'normal');

.float-left{
  float: left;
}

.margin-right{
  margin-right: 20px;
}

h1{
  margin-bottom: 30px;
}

.loading{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  z-index: 99;
  &.active{
    display: flex;
  }
  i{
    animation: loading 2s ease infinite;
  }
}

main.login{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .form_block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    form{
      max-width: 300px;
      background-color: #fff;
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translate(0, -50%);
      @include respond-to(gor){
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
      }
      .box{
        @include parent;
        margin-bottom: 15px;
        h2{
          font-size: 20px;
          color: $pink;
          margin-bottom: 20px;
        }
        label{
          @include parent;
          font-weight: 600;
          margin-bottom: 4px;
          &:after{
            content: ":";
          }
        }
        input{
          border: 2px solid $grey;
          @include parent;
          padding: 10px 15px;
        }
      }
      .btn_block{
        margin-top: 5px;
        .btn{
          width: 100%;
          float: left;
          text-align: center;
          &:hover{
            background-color: $purple;
            color: #fff;
          }
        }
      }
    }
  }
}

@keyframes active{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.95);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes loading{
  0%{
    transform: rotate(0);
  }
  20%{
    transform: rotate(-30deg);
  }
  35%{
    transform: rotate(-35deg);
  }
  40%{
    transform: rotate(-25deg);
  }
  45%{
    transform: rotate(-35deg);
  }
  50%{
    transform: rotate(-25deg);
  }
  55%{
    transform: rotate(-35deg);
  }
  65%{
    transform: rotate(-25deg);
  }
  70%{
    transform: rotate(-35deg);
  }
  75%{
    transform: rotate(-25deg);
  }
  80%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0);
  }
}