$mobile: 320px;
$mobile-gor: 480px;
$tablet: 768px;
$land: 600px;
$desktop: 991px;
$pull: 1440px;
$big: 1920px;
$ultrahd: 2300px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $tablet - 1) { @content; }
  }
  @if $media == small {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @if $media == iphone5 {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @if $media == iphone5-gor {
    @media only screen and (max-width: $mobile-gor) { @content; }
  }
  @else if $media == min-medium {
    @media only screen and (min-width: $mobile + 1) and (max-width: $tablet - 1) { @content; }
  }
  @else if $media == medium {
    @media only screen and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == desk {
    @media only screen and (max-width: $desktop) { @content; }
  }
  @else if $media == min-desk{
    @media only screen and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == big {
    @media only screen and (max-width: $big - 1) { @content; }
  }
  @else if $media == pull {
    @media only screen and (max-width: $pull) { @content; }
  }
  @else if $media == min-pull {
    @media only screen and (min-width: $pull + 1) { @content; }
  }
  @else if $media == ult {
    @media only screen and (max-width: $ultrahd)  { @content }
  }
  @else if $media == gor {
    @media only screen and (max-width: $land){ @content }
  }
}