//colors
$white: #fff;
$black: #000;
$grey: #bcbcbc;
$grey_w: #ececec;
$purple: rgba(76, 30, 135, 0.8);
$pink: rgb(255, 0, 152);
$red: rgb(255, 56, 68);
$yellow: rgb(255, 200, 0);
$green: #67C23A;

//fonts
$title: 20px;
$title_small: 18px;
$paragraph: 14px;
$svyaznoy_r: 'SvyaznoySans-Regular';
$svyaznoy_l: 'SvyaznoySans-Light';
